<%= form_with model: @page do |s| %>
  <%= s.label :name %>
  <br/>
  <%= s.text_field :name %>
  <br/>
  <%= s.label :permalink %>
  <br/>
  <%= s.text_field :permalink %>
  <br/>
  <%= s.label :position %>
  <br/>
  <%= s.number_field :position %>
  <br/>
  <%= s.label :visible %>
  <br/>
  <%= s.text_field :visible %>
  <br/>
  <%= s.label :content %>
  <br/>
  <%= s.text_field :content %>

   <p class="form-buttons">
      <%= s.submit "Update Page" %>
    </p>
<% end %>